<!DOCTYPE html>
<html>
<head>
	<title>Outfitted</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto:light,regular,bold' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
	<script src='//code.jquery.com/jquery-2.1.1.min.js'></script>
  <script src='/script.js'></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css' rel='stylesheet'>
  <link rel='stylesheet' type='text/css' href='/style.css'>
</head>
<body>
<!-- header above navbar -->
<div class='page-header'>
  <div class='container'>
    <h1>
      Out<strong>fitted</strong>
    </h1>
  </div>
</div>
<!-- ze navbar -->
<div class='navbar navbar-default'>
  <div class='container'>
    <ul class='nav navbar-nav navbar-right'>
        <li class='nav-item'>
          <a href='/mycloset'>MY CLOSET</a>
        </li>
      <li class='nav-item'>
        <a href='/outfits'>OUTFITS</a>
      </li>
      <li class='nav-item'>
        <a href='/upload'>UPLOAD</a>
      </li>
      <li class='nav-item'>
        <a href='/logout'>LOGOUT</a>
      </li>
    </ul>
  </div>
</div>
    <div class='container'>