<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css' rel='stylesheet'>
	<script src='//code.jquery.com/jquery-1.11.0.min.js'></script>
	<script src='//code.jquery.com/jquery-migrate-1.2.1.min.js'></script>
	<script src='/script.js'></script>
	<link href='https://fonts.googleapis.com/css?family=Roboto:light,regular,bold' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
<style>
	body {
	    background-image: url('/hangerbg.gif');
	    background-repeat: repeat-y repeat-x;
	    font-family: 'Roboto';
	    font-weight: lighter;
	}	

	h1 {
		color: #000;
		font-size: 52px;
		font-family: 'Roboto', sans-serif;
	/*	font-weight: bold;*/
	}

	h2 {
		color: #000;
		font-size: 32px;
		font-family: 'Roboto', sans-serif;
		font-weight: lighter;
	}


	.signup-login {
		text-align: left;
		background-color: #ffffff;
/*		width: 900px;
		height: 400px;*/
		margin-top: 100px;
		padding-bottom: 30px;
		padding-top: 10px;
		padding-left: 5px;
	}

	.signup {
		margin-top: 15px;
		margin-bottom: 45px;
		border-right: 1px solid #000;
/*		padding: 40px;*/
		padding-right: 20px;
	}

	.login {
		margin-top: 15px;
		margin-bottom: 45px;
		padding-left: 20px;
	}

/* --- BUTTONS --- */
	.btn-primary { 
  color: #000000; 
  background-color: #FFFFFF; 
  border-color: #000000; 
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin: 5px;
} 
 
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  color: #000000; 
  background-color: #FF00D9; 
  border-color: #000000; 
} 
 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  background-image: none; 
} 
 
.btn-primary.disabled, 
.btn-primary[disabled], 
fieldset[disabled] .btn-primary, 
.btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary:hover, 
.btn-primary.disabled:focus, 
.btn-primary[disabled]:focus, 
fieldset[disabled] .btn-primary:focus, 
.btn-primary.disabled:active, 
.btn-primary[disabled]:active, 
fieldset[disabled] .btn-primary:active, 
.btn-primary.disabled.active, 
.btn-primary[disabled].active, 
fieldset[disabled] .btn-primary.active { 
  background-color: #FFFFFF; 
  border-color: #000000; 
} 
 
.btn-primary .badge { 
  color: #FFFFFF; 
  background-color: #000000; 
}


/* ---- FORM ---- */
.form-signin {
	max-width: 530px;
/*	padding: 15px;*/
	margin: 0 auto;
}

.form-control {
	margin-top: 4px;
	margin-bottom: 6px;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}

.header {
	padding-left: 15px;
}

</style>

</head>
<body>