<% include partials/header %>


<div class='container-content'>	
<h2>ABOUT</h2>
<br />
<div class='row'>
	<div class='col-xs-3 col-xs-offset-2 col-md-3 col-md-offset-2'>
		<br />
		<img src='/aboutme.jpg' class='img-responsive'>
	</div>
	<div class='col-xs-6 col-md-6'><p>If you're anything like me, we both wake up reluctant and uninspired to whip together an outfit for the day. <blockquote>We also know the unpredictability of the weather, and more importantly our mood, dictate what we wear on the daily.</blockquote> In my efforts to make getting dressed in the morning as efficient, and painless as possible, I created OutFitted as a way to catagorize my closet by mood-outfit combinations.</p>
	<p>It's my hope that you also find this as a fun resource to get you OutFitted and out the door in the morning!</p> 
	</div>
</div>
<br />
<br />
<br />
</div>

<% include partials/footer %>