<% include partials/header %>

<!-- Main Content -->
<div class='container-content'>
	<h2>ABOUT</h2>
	<br />
	<div class='row'>
		<div class='col-xs-1 col-md-1'></div>
		<div class='col-xs-4 col-md-4 text-center'>
			<br />
			<!-- About Image -->
			<img src='/aboutme.jpg' class='img-responsive'>
			<br />
		</div>
		<!-- About Me -->
		<div class='col-xs-6 col-md-6'>
			<p>Hi, I'm Claire. If you're anything like me, we both wake up reluctant and uninspired to whip together an outfit. <blockquote>We also know the unpredictability of the weather, and more importantly our mood, dictate what we wear on the daily.</blockquote> In my efforts to make getting dressed in the morning as efficient, and painless as possible, I created OutFitted as a way to categorize my closet by mood-outfit combinations.</p>
			<p>It's my hope that you also find this as a fun resource to get you OutFitted and out the door in the morning!</p>
			<p>Questions? Comments? Email us @ <a href="mailto:claire@clairelyles.com?Subject=Hi%20there!" target="_top">claire@clairelyles.com</a>.</p>
			<br />
			<br />
			<!-- Social Icons -->
			<div class='social-icons text-center'>
				<a href='http://www.clairelyles.com' target='_blank'><i class="fa fa-home fa-2x"></i></a> <a href='http://github.com/clairelyles' target='_blank'><i class="fa fa-git fa-2x"></i></a> <a href='http://www.linkedin.com/in/clairelyles' target='_blank'><i class="fa fa-linkedin fa-2x"></i></a> <a href='http://twitter.com/clairissima' target='_blank'><i class="fa fa-twitter fa-2x"></i></a>
			</div>
		</div>
		<br />
		<br />
		<br />
	</div>
</div>

<% include partials/footer %>