<!DOCTYPE html>
<html>
<head>
	<title>Outfitted</title>
	<link href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css' rel='stylesheet'>
	<link rel='stylesheet' type='text/css' href='/style.css'>
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
	<script src='//code.jquery.com/jquery-1.11.0.min.js'></script>
	<script src='//code.jquery.com/jquery-migrate-1.2.1.min.js'></script>
	<script src='/script.js'></script>
</head>
<body>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class='page-header'>
  <div class='container'>
    <h1>
      Out<strong>fitted</strong>
    </h1>
  </div>
</div>
<% include partials/alerts %>
<div class='container text-center'>
	<a href="/login" class="btn btn-primary btn-lg">Login</a>
	<a href="/signup" class="btn btn-primary btn-lg">Signup</a>
	<a href="/logout" class="btn btn-primary btn-lg">Logout</a>

</div>
<% include partials/footer %>