<% include partials/index_header %>
<div class='container text-center'>
	<div class='row'>
		<div class='col-md-3 col-xs-3'></div>
		<div class='col-md-6 col-xs-6 signup-login'>
			<h1 class='header'>Out<strong>fitted</strong></h1>
				<% include partials/alerts %>
			<div class='col-md-6 col-xs-6 signup'>
				<!-- BEGIN SIGN UP -->
				<h2>SIGN UP</h2>
				<form class='form-signup' method='post' action='/signup' enctype='multipart/form-data'>
					<input type='text' class='form-control' placeholder='Enter your email' name='email'>
					<input type='text' class='form-control' placeholder='Enter your first name' name='first_name'>
					<input type='password' class='form-control' placeholder='Enter your password' name='password'>
					<input type='password' class='form-control' placeholder='Re-enter your password' name='password2'>
					<input type='submit' value='Sign up' class='btn btn-primary'>
				</form>
				<!-- END SIGN UP -->
			</div>
			<div class='col-md-6 col-xs-6 login'>
			<!-- BEGIN LOG IN -->
			<h2>LOG IN</h2>
			<form class='form-login' method='post' action='/login' enctype='multipart/form-data'>
				<input type='text' class='form-control' placeholder='Enter your email' name='email' value=''>
				<input type='password' class='form-control' placeholder='Enter your password' name='password' value=''>
				<input type='submit' value='Log in' class='btn btn-primary'>
			</form>
			<!-- END LOG IN -->
			</div>
		</div>
		<div class='col-md-3 col-xs-3'></div>
	</div>
</div>

<% include partials/index_footer %>