<% include partials/header %>
      <div class='container-content'>
		        <h1 class='post-title'>Welcome <strong><%= userInfo.first_name %>.</strong></h1>
		       
		        <% var convertF = ((temp.temp - 273.15) * 1.8000) + 32 %>
		        <% var lowerCaseDesc = description.main.toLowerCase() %>
		        <h3>The weather in Seattle is: <%= Math.floor(convertF)+'°' %> with <%= lowerCaseDesc %>.</h3>
        	<br />
         	<br />
	   </div>
	   

<% include partials/footer %>