<% include partials/header %>

<h1>My Closet</h1>
<!-- BEGIN TOP CAROUSEL -->
<div class='piece-container'>
	<div id="top-piece-carousel" class="carousel slide" data-ride="carousel">
	  <div class="carousel-inner">
	    <div class="item active">
	      	<img src="http://res.cloudinary.com/drxybow0v/image/upload/c_fill,h_0.5,r_5,w_0.5/piece_<%=pieceDisplay[0].id %>" alt="...">
	    </div>
	    <% for (i = 1; i < pieceDisplay.length; i++) { %>
	    	<% if (pieceDisplay[i].piecetypeId === 1 || pieceDisplay[i].piecetypeId === 2) { %>
	    <div class="item">
	      <img src="http://res.cloudinary.com/drxybow0v/image/upload/c_fill,h_0.5,r_5,w_0.5/piece_<%=pieceDisplay[i].id %>" alt="...">
	    </div>
	      	<% } %>
	    <% } %>
	  </div>
	  <a class="left carousel-control" href="#top-piece-carousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	  </a>
	  <a class="right carousel-control" href="#top-piece-carousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	  </a>
	</div> 
</div>
<!-- END OF TOP CAROUSEL -->
<!-- BEGIN BOTTOM CAROUSEL -->
<div class='piece-container'>
	<div id="bottom-piece-carousel" class="carousel slide" data-ride="carousel">
	  <div class="carousel-inner">
	    <div class="item active">
	      	<img src="http://res.cloudinary.com/drxybow0v/image/upload/c_fill,h_0.5,r_5,w_0.5/piece_<%=pieceDisplay[3].id %>" alt="...">
	    </div>
	    <% for (i = 1; i < pieceDisplay.length; i++) { %>
	    	<% if (pieceDisplay[i].piecetypeId === 3 || pieceDisplay[i].piecetypeId === 4 || pieceDisplay[i].piecetypeId === 5) { %>
	    <div class="item">
	      <img src="http://res.cloudinary.com/drxybow0v/image/upload/c_fill,h_0.5,r_5,w_0.5/piece_<%=pieceDisplay[i].id %>" alt="...">
	    </div>
	      	<% } %>
	    <% } %>
	  </div>
	  <a class="left carousel-control" href="#bottom-piece-carousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	  </a>
	  <a class="right carousel-control" href="#bottom-piece-carousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	  </a>
	</div> 
</div>
<!-- END OF BOTTOM CAROUSEL -->


<% include partials/footer %>