<% include partials/header %>

	<div class='container-content'>
		<!-- Header -->
		<h2>MY OUTFITS</h2>
		<!-- Display Upload Warning Img -->
		<% if (typeof outfits == 'undefined' && outfits.length > 0) { %>
			<div class='text-center'>
				<img src='/uploadfirst.jpg'>
				<h2><strong>UPLOAD</strong> ITEMS TO VIEW YOUR OUTFITS.</h2>
			</div>
		<% } else { %>
		<!-- Display Outfit Images -->
			<div class='row'>
				<% for (var i = 0; i < outfits.length; i++){ %>
					<div class='col-xs-4 col-md-4 polariod-outer text-center'>
						<div class='polariod-inner text-center'>
							<span class="glyphicon glyphicon-remove text-center" data-id=<%= outfits[i].id %>></span>
							<% if (outfits[i].piecetypeId === 1 || 2) { %>
								<img src='http://res.cloudinary.com/drxybow0v/image/upload/c_fill,h_0.5,r_5,w_0.5/piece_<%= outfits[i].pieces[0].id %>' class='img-responsive'>
							<br />
							<% } if (outfits[i].piecetypeId === 3 || 4 || 5) { %>
								<img src='http://res.cloudinary.com/drxybow0v/image/upload/c_fill,h_0.5,r_5,w_0.5/piece_<%= outfits[i].pieces[1].id %>' class='img-responsive'>
							<% } %>
						</div>
						<h4><strong><%= outfits[i].tag.tag_name %></strong></h4>
					</div>
				<% } %>
			</div>
		<% } %>
	</div>

<% include partials/footer %>