<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Testing Responsiveness</title>
  <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
  <script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src='script.js'></script>
<style>

  body {
    background-image: url('/leopard_bg.jpg');
    background-repeat: repeat-y repeat-x;
    font-family: 'Karla';
  }

  h1 {
    color: #000;
    font-size: 42px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: .1em;
  }

  h2 {
    font-size: 36px;
    font-family: 'Karla', sans-serif;
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
  }

  p {
    color: #000;
    font-family: 'Karla', Arial, sans-serif;
    font-size: 15px;
    line-height: 18px;
  }

  .content-wrapper {
    background-color: #fff;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .content-wrapper.steps {
    background-color: #fff;
  }

  .how-it-works {
    background-color: #000;
    color:#fff;
    padding-top: 5.5%;
    padding-bottom: 5.5%;
    display: inline-block;
    width: 100%;
  }

  input.form-control {
    margin-bottom: 10px;
  }

  /* --- BUTTONS --- */
  .btn-primary {
    color: #000000;
    background-color: #FFFFFF;
    border-color: #000000;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin: 5px;
    border-radius: 0;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }

  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active,
  .btn-primary.active,
  .open .dropdown-toggle.btn-primary {
    color: #000000;
    background-color: #FF00D9;
    border-color: #000000;
  }

  .btn-primary:active,
  .btn-primary.active,
  .open .dropdown-toggle.btn-primary {
    background-image: none;
  }

  .btn-primary.disabled,
  .btn-primary[disabled],
  fieldset[disabled] .btn-primary,
  .btn-primary.disabled:hover,
  .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary:hover,
  .btn-primary.disabled:focus,
  .btn-primary[disabled]:focus,
  fieldset[disabled] .btn-primary:focus,
  .btn-primary.disabled:active,
  .btn-primary[disabled]:active,
  fieldset[disabled] .btn-primary:active,
  .btn-primary.disabled.active,
  .btn-primary[disabled].active,
  fieldset[disabled] .btn-primary.active {
    background-color: #FFFFFF;
    border-color: #000000;
  }

  .btn-primary .badge {
    color: #FFFFFF;
    background-color: #000000;
  }

  div.step {
    display: inline-block;
  }

  .glyphicon {
    color: #FF00D9;
  }
  .image {
    height: 70%;
    width: 70%;
  }

  @media (min-width: 600px) {
    h1 {
    font-size: 52px;
    }
    h2 {
      font-size: 48px;
    }
    h3 {
      font-size: 24px;
    }
    p {
      font-size: 18px;
    }
    .how-it-works {
      background-color: #000;
      color:#fff;
      padding-top: 3%;
      padding-bottom: 5.5%;
    }
    .image {
      height: 100%;
      width: 100%;
    }
}

</style>

</head>
<body>

  <!-- Welcome to Outfitted -->
  <div class='content-wrapper text-center '>
    <div class='container'>
      <h1>Welcome to <strong>OutFitted</strong></h1>
      <p>Your virtual closet for creating mood-outfit combinations using the clothes from your wardrobe.</p>
    </div>
  </div>
  <!-- Step Images -->
  <div class='how-it-works text-center'>
    <div class='step'>
      <img src='/step1.jpg' class='image'>
      <h3>Lights</h3>
    </div>
    <div class='step'>
      <img src='/step2.jpg' class='image'>
      <h3>Camera</h3>
    </div>
    <div class='step'>
      <img src='/step3.jpg' class='image'>
      <h3>Action</h3>
    </div>
  </div>
  <!-- Step Explanation -->
  <div class='content-wrapper steps'>
    <div class='row text-center col-xs-9 col-xs-offset-1 col-md-offset-3 col-md-6'>
      <h2>3 Steps to <b>Fabulous</b></h2>
      <br />
    </div>
    <div class='row'>
      <div class='col-xs-9 col-xs-offset-1 col-md-offset-3 col-md-6'>
        <span class='glyphicon glyphicon-heart'><p class='p-heart' style='display:inline;'> Photograph items from your closet against a mute background.</p>
        <span class='glyphicon glyphicon-heart'><p style='display:inline;'> Upload items to your OutFitted closet, then shuffle tops and bottoms until you find an ideal match.</p>
        <span class='glyphicon glyphicon-heart'><p style='display:inline;'> Save outfit matches using a mood tag (e.g. save as a 'work', 'sassy' or 'hungover' look)</p>
      </div>
    </div>
  </div>
  <!-- Step Images -->
  <div class='how-it-works text-center'>
    <h2>Get <strong>Started</strong></h2>
    <br />
    <br />
    <div class='step'>
      <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#logInModal">
        LOG IN
      </button>
    </div>
    <div class='step'>
      <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#signUpModal">
        SIGN UP
      </button>
    </div>
  </div>
  <!-- Log In Modal -->
  <div class="modal fade" id="logInModal" tabindex="-1" role="dialog" aria-labelledby="logInModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="logInModal"><h3>Log In</h3></h4>
        </div>
        <div class="modal-body">
          <form class='form-login' method='post' action='/login' enctype='multipart/form-data'>
            <input type='text' class='form-control' placeholder='Enter your email' name='email' value=''>
            <input type='password' class='form-control' placeholder='Enter your password' name='password' value=''>
            <input type='submit' value='LOG IN' class='btn btn-primary btn-md'><button type="button" class="btn btn-primary" data-dismiss="modal">CLOSE</button>
          </form>
          <br>
        </div>
      </div>
    </div>
  </div>
  <!-- Sign Up Modal -->
  <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="signUpModal"><h3>Sign Up</h3></h4>
        </div>
        <div class="modal-body">
          <form class='form-signup' method='post' action='/signup' enctype='multipart/form-data'>
            <input type='text' class='form-control' placeholder='Enter your email' name='email'>
            <input type='text' class='form-control' placeholder='Enter your first name' name='first_name'>
            <input type='password' class='form-control' placeholder='Enter your password' name='password'>
            <input type='password' class='form-control' placeholder='Re-enter your password' name='password2'>
            <input type='submit' value='SIGN UP' class='btn btn-primary btn-md'><button type="button" class="btn btn-primary" data-dismiss="modal">CLOSE</button>
          </form>
          <br>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
