<% include partials/header %>


  	<div class='row'>
  		<div class='col-md-4'></div>
  		<div class='col-md-4'>
			<div class='text-center'>
			<% include partials/alerts %>
				<h1>Sign up:</h1>
				<hr>
				<form class='form' method='post' action='/signup' enctype='multipart/form-data'>
					<input type='text' class='form-control' placeholder='Enter your email' name='email'>
					<br />
					<input type='text' class='form-control' placeholder='Enter your first name' name='first_name'>
					<br />
					<input type='password' class='form-control' placeholder='Enter your password' name='password'>
					<br />
					<input type='password' class='form-control' placeholder='Re-enter your password' name='password2'>
					<br />
					<input type='submit' value='Sign up' class='btn btn-primary'>
				</form>
			</div>
  		</div>
  		<div class='col-md-3'></div>
  	</div>
  </div>
</div>


<% include partials/footer %>
