<!DOCTYPE html>
<html>
<head>
	<title></title>

<style>
	body {
	    background-image: url("/hangerbg.jpg");
	    background-repeat: repeat-y repeat-x;
	}	

	h1 {
		color: #fff;
	}
</style>
</head>
<body>
<h1>TESTING</h1>

</body>
</html>