<% include partials/header %>

<h1>Upload</h1>
<% include partials/alerts %>
<form action='/upload' method='post' enctype='multipart/form-data'>
<br />
<br />
	<input type='file' name='piecePicture'>
	<h3>What kind of item is it?</h3>
	<select class='selectpicker' data-style='btn-info' name='selectpicker'>
		<optgroup label="Select Piece">
		<% for (i = 0; i < piecetype.length; i++) { %>
			<option value="<%= piecetype[i].id %>"><%= piecetype[i].type %></option>
		<% } %>
		</optgroup>
	</select>
	<br><br>
	<input type='submit' class='btn btn-primary btn-lg'>
</form>

<% include partials/footer %>