/* ------------------- Navbar ------------------- */
/* use #444444 for black! */

div {
	/*border: 1px solid #000;*/
}

.container {
/*	margin-top: 50px;*/
}

.polariod-outer {
	background: #ffffff;
	width: 25%;
	margin: 10px;
	padding-top: 10px;
	padding-bottom: 8px;
	-moz-box-shadow: 3px 3px 3px #ccc;
	-webkit-box-shadow: 3px 3px 3px #ccc;
	box-shadow: 3px 3px 3px #ccc;
}

.polariod-outer .polariod-inner {
	-moz-box-shadow: inset 0 0 10px rgba(204,204,204, 0.8);
	-webkit-box-shadow: inset 0 0 10px rgba(204,204,204, 0.8);
	box-shadow: inset 0 0 10px rgba(204,204,204, 0.8);
	border: 1px solid #ccc;
}


.polariod-inner .glyphicon-remove {
	display: none;
	background: #000;
	color: #FF0090;
	opacity: 100;
	width: 30px;
	height: 30px;
	border-radius: 50%;
    position: absolute;
    padding-top: 8px;
    top: 3px;
    right: 5px;
    z-index: 100;
}

.polariod-inner .img-responsive {
	padding: 5px;
	max-height: 150px;
	margin-left: auto;
	margin-right: auto;
}

.page-header {
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.navbar-default {
  background: #000000;
  color: #ffffff;
  border: 0;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 0;
}

.navbar-nav {
	text-align: center;
}

.nav-item {
	padding-left: 35px;
	padding-right: 35px;
}

.main_img {
	border: 8px solid #000000;
}

/* ------------ My Closet ------------ */

.carousel {
	width: 500px;
	height: 230px;
	margin: 0 auto;
}

.carousel-control:hover, .carousel-control:focus {
	color: #FF0090;
}

.carousel .item img {
	margin: 0 auto;
	padding-top: 25px;
}

.carousel-control {
	color: #000000;
	opacity: 100;
	text-shadow: none;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.favorite {
	background: #FF0090;
	border: 5px solid #000000;
	color: #000000;
	width: 13vw;
	height: 10vh;
	padding-bottom: 40px;
}

.favorite-space{
	margin-top: 140px;
}


/* ------------ Basic? ------------ */


.footer {
	margin-top: 100px;
}

body {
/*	background-color: rgba(255,255,255,0.5);
	background-image: url('http://i955.photobucket.com/albums/ae32/svanhoose/Icons/006h32bc.png');
	background-repeat: repeat-y repeat-x;*/
}


h1 {
	font-size: 48px;
}

/* ------------------- button ------------------- */

.btn-primary { 
  color: #000000; 
  background-color: #FFFFFF; 
  border-color: #000000; 
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin: 5px;
} 
 
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  color: #000000; 
  background-color: #FF00D9; 
  border-color: #000000; 
} 
 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  background-image: none; 
} 
 
.btn-primary.disabled, 
.btn-primary[disabled], 
fieldset[disabled] .btn-primary, 
.btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary:hover, 
.btn-primary.disabled:focus, 
.btn-primary[disabled]:focus, 
fieldset[disabled] .btn-primary:focus, 
.btn-primary.disabled:active, 
.btn-primary[disabled]:active, 
fieldset[disabled] .btn-primary:active, 
.btn-primary.disabled.active, 
.btn-primary[disabled].active, 
fieldset[disabled] .btn-primary.active { 
  background-color: #FFFFFF; 
  border-color: #000000; 
} 
 
.btn-primary .badge { 
  color: #FFFFFF; 
  background-color: #000000; 
}


/* ------------------- Links ------------------- */
/*a:link {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}

a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:active {
    color: #000000;
}*/